.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
/* Nb make height dynamic by using bootstrap table*/
.overSupplied{
  color:green;
  fill:green;
}
.underSupplied{
  color:red;
  fill:red;
}
.balanced{
  color:orange;
}

#legend {
    font-size: 12px;
    background: white;
    padding: 10px;
}

#map {
  width: 100%;
  height: 65vh;
  margin: 0;
  padding: 0px;
}

#lineChart_id{
  height: 65vh;
}
.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 22px;
  height: 22px;
  padding-right: 0px;
}

.stations circle {
  fill: orange;
  fill-opacity: 0.2;
  stroke:none;
  stroke-width: 2px;

}
.unselected circle {
  stroke: black;
  stroke-width: 5px;
}
.selecting rect {
  fill: orange;
  fill-opacity: .2;
  stroke: white;
}

.selecting rect.selected {
  fill-opacity: 1;
  stroke: white;
}


.resize rect{
  fill:grey;
  fill-opacity:0.7;
  stroke:white;
}
.dropOffsArea {
  fill: green;
  opacity:0.2;
}
.pickUpsArea {
  fill: red;
  opacity:0.2;
}
.dropOffLine{
  stroke:green;
  stroke-width:3px;
  fill:none;
}
.pickUpLine{
  stroke:red;
  stroke-width:3px;
  fill:none;
}


.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width 3px;
  shape-rendering: crispEdges;
}