<!DOCTYPE html>
<html> 
  <div class = "panel panel-primary">
    <div class = "panel-heading" align = "center">
      <h4>Journeys per day in {{cityName}}</h4>
    </div>
  	<div class = "panel-body" id="barchart_id">
  	</div>
    <div class = "panel-footer" align = "center">
      {{"Extracting Data from " 
      + brushExtent[0].toDateString() 
      + " until " 
      + brushExtent[1].toDateString() 
      + " (" 
      + (getWeekNumber(brushExtent[1]) - getWeekNumber(brushExtent[0])) 
      + ((getWeekNumber(brushExtent[1]) - getWeekNumber(brushExtent[0])) > 1 ? " weeks": " week")
      + " selected)"}}
    </div>
  </div>
</html>