<!DOCTYPE html>
<html>
  <div class = "panel panel-info">
    <div class = "panel-heading">
      <form align = "right">
        Average Weekday Over 24hrs
        <input data-ng-model="weekDays" type="radio" name="browser" data-ng-value="true">
        Average Weekend Over 24hrs
        <input data-ng-model="weekDays" type="radio" name="browser" data-ng-value="false">
      </form>
    </div>
    <div class = "panel-content" id="lineChart_id">
    </div>
  </div>
</html>