<!DOCTYPE html>
<html>
  <div class = "panel panel-info">
    <div class = "panel-heading">
      Zone <b>{{selectedNode}}</b> is selected
    </div>
    <div class ="pannel-content" id="map">
    </div>
    <div id="legend">
      <span class="overSupplied">Over-supply</span> <br>
      <span class="balanced">Balanced</span> <br>  
      <span class="underSupplied">Under-supply</span>
    </div>
  </div>
</html>